@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vereniging manager</h1>
    <p class="lead">Beheer alle administratieve delen van een vereniging in ons systeem.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Verenigingen</h2>
        <p>
            Voeg nieuwe verenigingen toe aan het systeem. Bewerk huidige verenigingen en bekijk alle details hier.
        </p>
        @Html.ActionLink("Bekijk alle verenigingen", "", "Organisations", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Voeg nieuwe vereniging toe", "Create", "Organisations", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Kassa's</h2>
        <p>Vraag alle kassagegevens op.</p>
        @Html.ActionLink("Ga naar de pagina", "", "Registers", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Loggings</h2>
        <p>Bekijk de loggings per vereniging.</p>
        @Html.ActionLink("Ga naar de pagina", "", "Logging", null, new { @class = "btn btn-default" })
    </div>
</div>